body{
   font-family: 'Poppins', sans-serif;
}

.title{
   font-style: normal;
   text-align: center;
   max-width: 840px;
   margin: auto;
   font-weight: 700;
   font-size: 72px;
   line-height: 74.88px;
   color: rgba(22, 44, 78, 1);
   opacity: 0.39;
   margin-top: 93px;
}
.subtitle{
   max-width: 425px;
   text-align: center;
   margin: auto;
   font-weight: 400;
   font-size: 18px;
   line-height: 27px;
   color: rgba(0, 0, 0, 0.8);
   margin-top: 8px;
}